= simple_form_for(@role, html: { class: 'form-horizontal' }) do |f|
  = f.input :title

  = field_set_tag 'Responsibilities' do

    = f.nested_fields_for :responsibilities do |rf|
      .well
        = rf.remove_nested_fields_link 'Delete', class: 'btn btn-danger pull-right', role: 'button'
        = rf.input :text

    = f.add_nested_fields_link :responsibilities, 'Add Responsibility', class: 'btn btn-primary'

  = field_set_tag 'Accomplishments' do

    = f.nested_fields_for :accomplishments do |af|
      .well
        = af.remove_nested_fields_link 'Delete', class: 'btn btn-danger pull-right', role: 'button'
        = af.input :text

    = f.add_nested_fields_link :accomplishments, 'Add Acomplishment', class: 'btn btn-primary'

  = field_set_tag 'Projects' do

    = f.nested_fields_for :projects do |pf|
      .well
        = pf.remove_nested_fields_link 'Delete', class: 'btn btn-danger pull-right', role: 'button'
        = pf.input :title
        = pf.input :description

    = f.add_nested_fields_link :projects, 'Add Project', class: 'btn btn-primary'

  = f.button :submit
