.well
  = link_to "Delete", role_path(role), method: :delete, class: "btn btn-danger pull-right"
  = link_to "Edit", edit_role_path(role), class: "btn btn-primary pull-right"

  %h3= role.title

  %h4 Responsibilities
  %ul= render partial: :responsibility, collection: role.responsibilities

  %h4 Accomplisments
  %ul= render partial: :accompliment, collection: role.accomplishments

  %h4 Projects
  %ul= render partial: :project, collection: role.projects
